.board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #f8f9fa;
}
.ticket-column {
  width: 18%;
  padding: 10px;
  margin-bottom: 20px;
}
.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.ticket-title {
  display: flex;
  align-items: center;
}
.ticket-title span {
  text-transform: capitalize;
  margin-right: 15px;
}
.ticket-count {
  color: gray;
}
.ticket-actions {
  display: flex;
}
.icon {
  width: 20px;
  margin-right: 10px;
}
.icon-action {
  width: 20px;
  margin-left: 10px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  .ticket-column {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .ticket-column {
    width: 100%;
  }
  .ticket-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .ticket-actions {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  .icon {
    width: 18px;
  }
  .icon-action {
    width: 18px;
  }
}
